@import 'modules/all';

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$page-background: image-url('office.png');

$container-vertical-margin: 30px;
$pagination-vertical-margin: 10px;

$header-height: 300px;
$header-splash-columns: 8;
$header-splash-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.5);

$logo-image: 'trillek-logo.png';

$clickable-color: #7A5B7B;
$clickable-hover-color: #4E1E50;
$clickable-text-color: #FFFFFF;
$clickable-transition: 400ms ease;

$button-padding: 7px 10px;
$button-border-radius: 3px;

$header-navigation-columns: $total-columns - $header-splash-columns;
$header-navigation-background: image-url('pixel-weave.png');
$header-navigation-item-padding: 5px;
$header-navigation-item-borders: 1px solid #BCA2BD;
$header-navigation-item-font-size: 18px;

$content-background-color: #FFFFFF;
$content-text-columns: 10;
$content-text-padding-columns: ($total-columns - $content-text-columns) / 2;

$text-input-padding: 5px;
$text-input-background: #FFFFFF;
$text-input-border: 1px solid #333333;

$post-head-background: #6E6280;
$post-head-top-margin: 40px;
$post-title-color: #FFFFFF;
