.text-input {
	width: 90%;
	border: 0;
	padding: $text-input-padding 5%;
	background: $text-input-background;
	border-bottom: $text-input-border;
}

.button, .button-container a {
	@include transition($clickable-transition);
	@include transition-property(background);
	@include border-radius($button-border-radius);

	display: inline-block;
	padding: $button-padding;
	background-color: $clickable-color;
	color: $clickable-text-color;
	text-decoration: none;

	&:hover {
		background-color: $clickable-hover-color;
	}
}
