.container {
	@include container;
	margin-top: $container-vertical-margin;
	margin-bottom: $container-vertical-margin;
}

.header, .footer, .content {
	clear: both;
}

.header {
	height: $header-height;

	.splash, .navigation {
		height: 100%;
	}

	.splash {
		@include span-columns($header-splash-columns, $total-columns);
		position: relative;
	}

	.splash-background {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -10;
	}

	.navigation {
		@include span-columns($header-navigation-columns omega, $total-columns);
		@include bleed($grid-padding, 'left');
		margin-top: 0;
		margin-bottom: 0;

		li {
			padding-top: $header-navigation-item-padding;
			padding-bottom: $header-navigation-item-padding;
		}

		li, a {
			@include bleed($grid-padding, 'left');
			width: 100%;
			display: block;
		}
	}
}

.content {
	float: left;
	width: 100%;

	.content-text {
		@include span-columns($content-text-columns omega, $total-columns);
		@include pad($content-text-padding-columns);
	}
}
