.header {
	.navigation {
		ul {
			list-style: none;
		}

		li {
			@include transition($header-navigation-transition);
			@include transition-property(background);
			background-color: $header-navigation-item-background-color;
			border-bottom: $header-navigation-item-borders;
			overflow: hidden;
			position: relative;

			&.current-menu-item, &:hover {
				background-color: $header-navigation-item-hover-background-color;

				.triangle {
					right: 0;
					top: 0;
				}
			}
		}
	}
}
