.post-head {
	background: $post-head-background;
}

.content-text {
	img, div {
		max-width: 100%;
		height: auto;
	}

	.alignleft {
		float: left;
		margin: 0 1em 1em 0;
	}

	.alignright {
		float: right;
		margin: 0 0 1em 1em;
	}

	.aligncenter {
		margin: 0 auto;
	}

	.wp-caption-text {
		margin-top: 0;
	}
}
