table {
	border: $table-border;
	border-bottom: 0;
	border-right: 0;

	.odd {
		background: $table-odd-row-background;
	}

	td, th {
		border-bottom: $table-border;
		border-right: $table-border;
		padding: $table-cell-padding;
	}
}
