.header {
	.navigation {
		a {
			text-decoration: none;
			color: $clickable-text-color;
			font-size: $header-navigation-item-font-size;
		}
	}
}

.post-head {
	color: $post-head-color;

	h2 {
		margin: 0;

		a {
			color: $post-head-color;
		}
	}

	.post-meta {
		p {
			margin: 0;
		}
	}
}

.content-text {
	a {
		color: $post-link-color;

		&:hover {
			color: $post-link-hover-color;
		}
	}

	blockquote {
		padding: $post-blockquote-padding;
		background-color: $post-blockquote-background;
		@include border-radius($post-blockquote-border-radius);

		cite {
			display: block;
			border-top: $post-blockquote-border;
			margin-top: $post-blockquote-border-margin;
			padding-top: $post-blockquote-border-margin;
		}
	}

	pre, code {
		background-color: $post-code-background;
		padding: $post-code-padding;
		@include border-radius($post-code-border-radius);
	}
}
