.header {
	.navigation {
		a {
			text-decoration: none;
			color: $clickable-text-color;
			font-size: $header-navigation-item-font-size;
		}
	}
}

.post-head {
	color: $post-head-color;

	h2 {
		margin: 0;

		a {
			text-decoration: none;
			color: $post-head-color;
		}
	}

	.post-meta {
		p {
			margin: 0;
		}
	}
}
